openapi: 3.0.3
info:
  title: vistaq API
  version: 2.0.0
  description: |
    Backend API for the vistaq insurance agent management platform.

servers:
  - url: https://stg-api.vistaq.co/api
    description: Staging

tags:
  - name: Health
    description: API health check
  - name: Auth
    description: Authentication endpoints
  - name: Users
    description: User management endpoints
  - name: Groups
    description: Group management endpoints
  - name: Prospects
    description: Prospect management endpoints
  - name: Events
    description: Event management endpoints
  - name: Dashboard
    description: Dashboard statistics endpoints
  - name: Point Configs
    description: Gamification point configuration endpoints
  - name: Leaderboard
    description: Gamification leaderboard endpoints
  - name: Agent Points
    description: Gamification agent points endpoints
  - name: Coaching Sessions
    description: Coaching session management and attendance endpoints
  - name: Public
    description: Public endpoints that do not require authentication

################################################################################
# Paths
################################################################################

paths:
  ##############################################################################
  # HEALTH
  ##############################################################################

  /health:
    get:
      tags: [Health]
      summary: Health check
      description: >
        Returns the current operational status of the API. No authentication is
        required. Intended for uptime monitoring and load-balancer probes.
      security: []
      responses:
        "200":
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                required: [status, timestamp]
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-03-04T08:00:00.000Z"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  ##############################################################################
  # AUTH
  ##############################################################################

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new agent
      description: >
        Creates a new agent user account under the tenant identified by the
        `X-Tenant-Slug` header. The supplied `agentCode` must exist in the
        tenant's provisioned agent codes and must not have been used previously.
        On success the newly created user record and a session JWT are returned.
        The token may be `null` if the automatic sign-in after registration
        fails — the account is still created in that case.
      security: []
      parameters:
        - name: X-Tenant-Slug
          in: header
          required: true
          description: >
            Slug that identifies the tenant the registering user belongs to.
            Returns 400 if the header is absent or not a string value, and 404
            if no tenant matches the supplied slug.
          schema:
            type: string
            example: acme-insurance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fullName
                - agentCode
                - email
                - password
                - groupId
                - location
              properties:
                fullName:
                  type: string
                  minLength: 1
                  example: Jane Smith
                agentCode:
                  type: string
                  minLength: 1
                  description: >
                    Agent code provisioned by the tenant. Must exist in the
                    tenant's agent_codes table and must not have been used by
                    another account. Always supplied by the client — never
                    auto-generated by the server.
                  example: AGT-00123
                email:
                  type: string
                  format: email
                  example: jane.smith@example.com
                password:
                  type: string
                  minLength: 6
                  description: >
                    Must be at least 6 characters and contain at least one
                    uppercase letter, one special character, and one digit.
                  example: Secret@1
                groupId:
                  type: string
                  format: uuid
                  description: UUID of the group the agent belongs to.
                  example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                location:
                  type: string
                  minLength: 1
                  example: Singapore
      responses:
        "201":
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    required: [user, token]
                    properties:
                      user:
                        $ref: "#/components/schemas/UserObject"
                      token:
                        type: string
                        nullable: true
                        description: >
                          JWT session token. `null` if the automatic sign-in
                          after registration failed — the account is still
                          created.
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        "400":
          description: >
            Bad request. Returned when the `X-Tenant-Slug` header is missing,
            request body fails validation, or the agent code is invalid or
            already used.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
              examples:
                missingHeader:
                  summary: Missing X-Tenant-Slug header
                  value:
                    message: X-Tenant-Slug header is required
                invalidAgentCode:
                  summary: Invalid or already used agent code
                  value:
                    message: Invalid or already used agent code
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: too_small
                        minimum: 6
                        type: string
                        inclusive: true
                        exact: false
                        message: Password must be at least 6 characters
                        path: [password]
        "404":
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Tenant not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/login:
    post:
      tags: [Auth]
      summary: Log in an existing agent
      description: >
        Authenticates an agent under the tenant identified by the `X-Tenant-Slug`
        header using email and password. On success, returns the user record and a
        JWT session token.
      security: []
      parameters:
        - name: X-Tenant-Slug
          in: header
          required: true
          description: >
            Slug that identifies the tenant the authenticating user belongs to.
            Returns 400 if the header is absent or not a string value, and 404
            if no tenant matches the supplied slug.
          schema:
            type: string
            example: acme-insurance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: jane.smith@example.com
                password:
                  type: string
                  example: Secret@1
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    required: [user, token]
                    properties:
                      user:
                        $ref: "#/components/schemas/UserObject"
                      token:
                        type: string
                        description: JWT session token.
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        "400":
          description: >
            Bad request. Returned when the `X-Tenant-Slug` header is missing,
            request body fails validation, or the supplied credentials are invalid.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
              examples:
                missingHeader:
                  summary: Missing X-Tenant-Slug header
                  value:
                    message: X-Tenant-Slug header is required
                invalidCredentials:
                  summary: Invalid credentials
                  value:
                    message: Invalid credentials
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: invalid_string
                        validation: email
                        message: Invalid email
                        path: [email]
        "404":
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Tenant not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Log out the current user
      description: >
        Invalidates the session associated with the supplied Bearer token.
        The `Authorization` header must be present and contain a non-empty
        token in the form `Bearer <token>`. Returns 401 if the header is
        missing, malformed, or the token portion is empty.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            does not start with `Bearer `, or the token portion is empty.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingHeader:
                  summary: Missing Authorization header
                  value:
                    message: Authorization header is required
                emptyToken:
                  summary: Empty token in Authorization header
                  value:
                    message: Authorization token is required
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/me:
    get:
      tags: [Auth]
      summary: Get the authenticated user's profile
      description: >
        Returns the profile of the currently authenticated user derived from
        the supplied Bearer token. The `Authorization` header must be present
        and contain a valid token in the form `Bearer <token>`. Returns 401 if
        the header is missing, malformed, or the token is invalid.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Authenticated user profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    nullable: true
                    $ref: "#/components/schemas/UserObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            does not start with `Bearer `, or the token portion is empty or
            invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingHeader:
                  summary: Missing Authorization header
                  value:
                    message: Authorization header is required
                emptyToken:
                  summary: Empty token in Authorization header
                  value:
                    message: Authorization token is required
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request a password reset email
      description: >
        Sends a password reset email to the supplied address within the tenant
        identified by the `X-Tenant-Slug` header. This endpoint is
        unauthenticated. If the email address does not exist within the tenant,
        the response is still `200 OK` — this is intentional to prevent user
        enumeration.
      security: []
      parameters:
        - name: X-Tenant-Slug
          in: header
          required: true
          description: >
            Slug that identifies the tenant the user belongs to.
            Returns 400 if the header is absent or not a string value, and 404
            if no tenant matches the supplied slug.
          schema:
            type: string
            example: acme-insurance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: jane.smith@example.com
      responses:
        "200":
          description: Password reset email sent (or email not found — response is identical to prevent enumeration)
          content:
            application/json:
              schema:
                type: object
                required: [success, message]
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Password reset email sent
        "400":
          description: >
            Bad request. Returned when the `X-Tenant-Slug` header is missing
            or not a string, or the request body fails validation.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
              examples:
                missingHeader:
                  summary: Missing X-Tenant-Slug header
                  value:
                    message: X-Tenant-Slug header is required
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: invalid_string
                        validation: email
                        message: Invalid email
                        path: [email]
        "404":
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Tenant not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset a user's password
      description: >
        Resets the password for the account identified by the supplied reset
        token. The token is extracted from the Supabase password reset email
        link sent by `POST /auth/forgot-password`. This endpoint is
        unauthenticated. An invalid or expired token results in a `500` response.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - newPassword
              properties:
                token:
                  type: string
                  minLength: 1
                  description: >
                    The JWT access token extracted from the Supabase password
                    reset email link. The frontend parses this from the URL hash
                    or query params after the user clicks the reset link. The
                    backend verifies it directly via
                    `adminClient.auth.getUser(token)`.
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                newPassword:
                  type: string
                  minLength: 6
                  description: >
                    New password. Must be at least 6 characters and contain at
                    least one uppercase letter, one number, and one special
                    character.
                  example: NewSecret@1
      responses:
        "200":
          description: Password reset successful
          content:
            application/json:
              schema:
                type: object
                required: [success, message]
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Password reset successful
        "400":
          description: >
            Bad request. Returned when the request body fails validation
            (missing fields, password too short, or password does not meet
            complexity requirements).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
              example:
                message: Validation failed
                errors:
                  - code: too_small
                    minimum: 6
                    type: string
                    inclusive: true
                    exact: false
                    message: Password must be at least 6 characters
                    path: [newPassword]
        "500":
          description: >
            Internal server error. Also returned when the supplied token is
            invalid or has expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  ##############################################################################
  # USERS
  ##############################################################################

  /users/me/password:
    patch:
      tags: [Users]
      summary: Change the authenticated user's password
      description: >
        Updates the password for the currently authenticated user. The caller
        must supply a valid Bearer token. The new password must be at least 6
        characters and contain at least one uppercase letter, one digit, and
        one special character.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newPassword]
              additionalProperties: false
              properties:
                newPassword:
                  type: string
                  minLength: 6
                  description: >
                    The replacement password. Must be at least 6 characters and
                    contain at least one uppercase letter, one digit, and one
                    special (non-alphanumeric) character.
                  example: "$Test1"
            example:
              newPassword: "$Test1"
      responses:
        "200":
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, message]
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Password changed successfully
              example:
                success: true
                message: Password changed successfully
        "400":
          description: >
            Bad request. Returned when the request body fails validation —
            for example when `newPassword` is absent, too short, or does not
            meet the complexity requirements.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
              example:
                message: Validation failed
                errors:
                  - code: too_small
                    minimum: 6
                    type: string
                    inclusive: true
                    exact: false
                    message: Password must be at least 6 characters
                    path: [newPassword]
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users:
    get:
      tags: [Users]
      summary: List all users in the tenant
      description: >
        Returns all users belonging to the authenticated user's tenant.
        The caller must supply a valid Bearer token. The response contains
        an array of user objects scoped to the caller's tenant.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/{userId}:
    get:
      tags: [Users]
      summary: Get a user by ID
      description: >
        Returns the user record for the given `userId`. The caller must supply
        a valid Bearer token. RLS ensures only users visible to the caller's
        tenant are returned — a user that exists but is not visible due to RLS
        is treated as not found.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: UUID of the user to retrieve.
          schema:
            type: string
            format: uuid
            example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
      responses:
        "200":
          description: User retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/UserObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "404":
          description: >
            Not found. Returned when no user exists for the given `userId`, or
            the user is not visible to the caller due to RLS.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: User not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      tags: [Users]
      summary: Update a user
      description: >
        Updates the user record for the given `userId`. The caller must supply
        a valid Bearer token. Non-admin users can only update themselves — a
        403 is returned if they attempt to update another user. Non-admin
        callers cannot update the `role` or `status` fields; those fields are
        silently stripped from the request body. At least one field must be
        provided.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: UUID of the user to update.
          schema:
            type: string
            format: uuid
            example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                  example: jane.smith@example.com
                name:
                  type: string
                  minLength: 1
                  example: Jane Smith
                phone:
                  type: string
                  minLength: 1
                  example: "+6591234567"
                agency:
                  type: string
                  minLength: 1
                  example: Acme Insurance
                location:
                  type: string
                  minLength: 1
                  example: Singapore
                role:
                  type: string
                  enum: [admin, master_trainer, trainer, agent]
                  description: >
                    Only honoured for admin callers. Non-admin callers may
                    include this field but it is silently stripped.
                  example: trainer
                status:
                  type: string
                  enum: [active, inactive]
                  description: >
                    Only honoured for admin callers. Non-admin callers may
                    include this field but it is silently stripped.
                  example: active
      responses:
        "200":
          description: User updated successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/UserObject"
        "400":
          description: >
            Bad request. Returned when the request body fails validation
            (e.g. no fields provided or invalid values).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
              example:
                message: Validation failed
                errors:
                  - code: custom
                    message: At least one field must be provided
                    path: []
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "403":
          description: >
            Forbidden. Returned when a non-admin user attempts to update
            another user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "404":
          description: >
            Not found. Returned when no user exists for the given `userId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: User not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags: [Users]
      summary: Delete a user
      description: >
        Deletes a user from the users table and Supabase Auth.
        RLS enforces access control — if the authenticated user cannot see the
        target user, a 404 is returned. The Auth deletion is best-effort;
        failure is logged but does not block a successful response.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The UUID of the user to delete.
          schema:
            type: string
            format: uuid
            example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
      responses:
        "200":
          description: User deleted successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "404":
          description: >
            Not found. Returned when no user exists for the given `userId`, or
            the user is not visible to the caller due to RLS.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: User not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      tags: [Users]
      summary: Create a new user (admin only)
      description: >
        Creates a new user account within the authenticated admin's tenant.
        The caller must supply a valid Bearer token belonging to a user with
        the `admin` role. When `role` is `agent`, an `agentCode` must also be
        provided; it must exist in the tenant's provisioned agent codes and
        must not have been previously used.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - role
              properties:
                name:
                  type: string
                  minLength: 1
                  example: John Doe
                email:
                  type: string
                  format: email
                  example: john.doe@example.com
                password:
                  type: string
                  minLength: 8
                  description: >
                    Must be at least 8 characters and contain at least one
                    uppercase letter and one digit.
                  example: Secret@1
                role:
                  type: string
                  enum: [admin, master_trainer, trainer, group_leader, agent]
                  example: agent
                agentCode:
                  type: string
                  description: >
                    Required when `role` is `agent`. Agent code provisioned by
                    the tenant. Must exist in the tenant's agent_codes table and
                    must not have been used by another account. Always supplied
                    by the client — never auto-generated by the server.
                  example: AGT-00123
      responses:
        "201":
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/UserObject"
        "400":
          description: >
            Bad request. Returned when the request body fails validation or
            the supplied agent code is invalid or already used.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ValidationErrorResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
              examples:
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: too_small
                        minimum: 8
                        type: string
                        inclusive: true
                        exact: false
                        message: Password must be at least 8 characters
                        path: [password]
                invalidAgentCode:
                  summary: Invalid or already used agent code
                  value:
                    message: Invalid or already used agent code
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "403":
          description: Forbidden. Returned when the authenticated user is not an admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  ##############################################################################
  # GROUPS
  ##############################################################################

  /groups:
    get:
      tags: [Groups]
      summary: List all groups in the tenant
      description: >
        Returns all groups belonging to the authenticated user's tenant.
        The caller must supply a valid Bearer token. Supabase RLS handles
        tenant scoping automatically — any authenticated user can call this
        endpoint and will receive only the groups visible to their tenant.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Groups retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/GroupObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      tags: [Groups]
      summary: Create a new group (admin only)
      description: >
        Creates a new group within the authenticated admin's tenant.
        The caller must supply a valid Bearer token belonging to a user with
        the `admin` role. The optional `leader_id` must reference a user with
        the `agent` role, and the optional `trainer_ids` must each reference a user
        with the `trainer` role. Both referenced users must belong to the
        caller's tenant.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  minLength: 1
                  example: Alpha Team
                leader_id:
                  type: string
                  format: uuid
                  description: >
                    UUID of the user to assign as group leader. Must be a user
                    with the `agent` role and must belong to the caller's tenant.
                  example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                trainer_ids:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: >
                    Array of UUIDs of users to assign as group trainers. Each
                    must be a user with the `trainer` role and must belong to
                    the caller's tenant.
                  example:
                    - 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "201":
          description: Group created successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/GroupObject"
        "400":
          description: >
            Bad request. Returned when the request body fails validation or
            a domain rule is violated (e.g. invalid role for leader or trainer,
            or referenced user not found in the tenant).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ValidationErrorResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
              examples:
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: too_small
                        minimum: 1
                        type: string
                        inclusive: true
                        exact: false
                        message: String must contain at least 1 character(s)
                        path: [name]
                invalidLeaderRole:
                  summary: Leader does not have the agent role
                  value:
                    message: Leader must currently have the agent role
                invalidTrainerRole:
                  summary: Trainer does not have the trainer role
                  value:
                    message: Trainer must currently have the trainer role
                userNotInTenant:
                  summary: Referenced user not found in tenant
                  value:
                    message: User not found in tenant
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "403":
          description: Forbidden. Returned when the authenticated user is not an admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /groups/{groupId}:
    get:
      tags: [Groups]
      summary: Get a group by ID
      description: >
        Returns a single group identified by `groupId`. The caller must supply a
        valid Bearer token. Supabase RLS handles tenant scoping automatically —
        any authenticated user can call this endpoint and will only be able to
        retrieve groups visible to their tenant.
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          description: UUID of the group to retrieve.
          schema:
            type: string
            format: uuid
            example: 7c9e6679-7425-40de-944b-e07fc1f90ae7
      responses:
        "200":
          description: Group retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/GroupObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "404":
          description: Not found. Returned when no group exists for the given `groupId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Group not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      tags: [Groups]
      summary: Update a group (admin only)
      description: >
        Updates the group identified by `groupId`. The caller must supply a valid
        Bearer token belonging to a user with the `admin` role. All request body
        fields are optional, but at least one must be provided. When `leader_id`
        is supplied and differs from the current leader, the new leader is promoted
        to `group_leader` and the previous leader is demoted back to `agent`. When
        `trainer_ids` is supplied, the existing trainer assignments for the group are replaced with the provided set. When
        `member_ids` is supplied, the `group_id` field on each referenced user is
        set to this group. All referenced users must exist within the caller's tenant.
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          description: UUID of the group to update.
          schema:
            type: string
            format: uuid
            example: 7c9e6679-7425-40de-944b-e07fc1f90ae7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  example: Bravo Team
                status:
                  type: string
                  enum: [active, inactive]
                  example: active
                leader_id:
                  type: string
                  format: uuid
                  description: >
                    UUID of the user to promote to group leader. Must be a user
                    with the `agent` role. If the group already has a leader,
                    that leader is demoted back to `agent`.
                  example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                trainer_ids:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: >
                    Array of UUIDs of users to set as group trainers. Replaces
                    all existing trainer assignments for the group. Each must be
                    a user with the `trainer` role.
                  example:
                    - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                member_ids:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: >
                    Array of user UUIDs to assign to this group. Sets the
                    `group_id` field on each referenced user. All provided IDs
                    must exist within the caller's tenant.
                  example:
                    - a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
                    - b1ccde11-8d1c-5fa9-cc7e-7cc0ce491b22
      responses:
        "200":
          description: Group updated successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/GroupObject"
        "400":
          description: >
            Bad request. Returned when the request body fails validation (e.g. no
            fields provided or invalid values), or a domain rule is violated (e.g.
            the new leader does not have the `agent` role, the trainer does not
            have the `trainer` role, or one or more `member_ids` could not be found).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ValidationErrorResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
              examples:
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: custom
                        message: At least one field must be provided
                        path: []
                invalidLeaderRole:
                  summary: Proposed leader does not have the agent role
                  value:
                    message: Leader must currently have the agent role
                invalidTrainerRole:
                  summary: Proposed trainer does not have the trainer role
                  value:
                    message: Trainer must currently have the trainer role
                missingMembers:
                  summary: One or more member_ids could not be found
                  value:
                    message: One or more members could not be found
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "403":
          description: Forbidden. Returned when the authenticated user is not an admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "404":
          description: >
            Not found. Returned when no group exists for the given `groupId`, or
            a referenced user (leader, trainer, or member) could not be found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                groupNotFound:
                  summary: Group not found
                  value:
                    message: Group not found
                userNotFound:
                  summary: Referenced user not found
                  value:
                    message: User not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /groups/stats:
    get:
      tags: [Groups]
      summary: Get group statistics
      description: >
        Returns a list of all groups in the authenticated user's tenant with
        their year-to-date (YTD) sales statistics, sorted by `ytd_sales_ace`
        descending. The caller must supply a valid Bearer token. All roles are
        permitted to call this endpoint.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Group statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/GroupStatsObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /groups/{groupId}/stats:
    get:
      tags: [Groups]
      summary: Get per-group detail statistics
      description: >
        Returns YTD and MTD aggregated statistics scoped to a specific group,
        plus the current agent count for that group. The caller must supply a
        valid Bearer token. All roles are permitted to call this endpoint.
        Returns 404 if the group does not exist.
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          description: UUID of the group to retrieve statistics for.
          schema:
            type: string
            format: uuid
            example: 7c9e6679-7425-40de-944b-e07fc1f90ae7
      responses:
        "200":
          description: Group detail statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/GroupDetailStatsObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "404":
          description: Not found. Returned when no group exists for the given `groupId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Group not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  ##############################################################################
  # PROSPECTS
  ##############################################################################

  /prospects:
    get:
      tags: [Prospects]
      summary: List all prospects
      description: >
        Returns all prospects accessible to the authenticated user. The caller
        must supply a valid Bearer token. Supabase RLS handles tenant and
        agent scoping automatically — users will only receive prospects visible
        to them.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Prospects retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProspectObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      tags: [Prospects]
      summary: Create a prospect
      description: >
        Creates a new prospect record scoped to the authenticated user's tenant.
        The caller must supply a valid Bearer token belonging to a user with the
        `agent` or `group_leader` role. The `agent_id` and `tenant_id`
        are extracted directly from the JWT claims — they are not
        accepted in the request body. The `current_stage` is automatically set
        to `prospect` on creation.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fullName
              additionalProperties: false
              properties:
                fullName:
                  type: string
                  minLength: 1
                  description: Full name of the prospect.
                  example: Alice Johnson
                phoneNum:
                  type: string
                  description: Phone number of the prospect.
                  example: "+6591234567"
                email:
                  type: string
                  format: email
                  description: Email address of the prospect.
                  example: alice.johnson@example.com
      responses:
        "201":
          description: Prospect created successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ProspectObject"
        "400":
          description: >
            Bad request. Returned when the request body fails validation
            (e.g. `fullName` is missing or empty, or `email` is not a valid
            email address).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
              example:
                message: Validation failed
                errors:
                  - code: too_small
                    minimum: 1
                    type: string
                    inclusive: true
                    exact: false
                    message: String must contain at least 1 character(s)
                    path: [fullName]
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "403":
          description: >
            Forbidden. Returned when the authenticated user does not have the
            `agent` or `group_leader` role.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /prospects/{prospectId}:
    get:
      tags: [Prospects]
      summary: Get a prospect by ID
      description: >
        Returns a single prospect identified by `prospectId`. The caller must
        supply a valid Bearer token. Supabase RLS handles tenant and agent
        scoping automatically — users can only retrieve prospects visible to
        them.
      security:
        - bearerAuth: []
      parameters:
        - name: prospectId
          in: path
          required: true
          description: UUID of the prospect to retrieve.
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        "200":
          description: Prospect retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ProspectObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "404":
          description: Not found. Returned when no prospect exists for the given `prospectId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Prospect not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      tags: [Prospects]
      summary: Update a prospect
      description: >
        Updates the prospect identified by `prospectId`. The caller must supply
        a valid Bearer token belonging to a user with the `agent` or
        `group_leader` role. All request body fields are optional, but at least
        one must be provided.
      security:
        - bearerAuth: []
      parameters:
        - name: prospectId
          in: path
          required: true
          description: UUID of the prospect to update.
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                currentStage:
                  type: string
                  enum: [prospect, appointment, sales]
                  example: appointment
                appointmentDate:
                  type: string
                  format: date
                  description: Date of the appointment in YYYY-MM-DD format.
                  example: "2026-04-01"
                appointmentStartTime:
                  type: string
                  description: Start time of the appointment (e.g. "14:00").
                  example: "14:00"
                appointmentEndTime:
                  type: string
                  description: End time of the appointment (e.g. "15:00").
                  example: "15:00"
                appointmentLocation:
                  type: string
                  example: Raffles Place Office
                appointmentStatus:
                  type: string
                  enum: [not_done, scheduled, rescheduled, kiv, done, declined]
                  example: scheduled
                salesMeetingStages:
                  type: array
                  items:
                    type: string
                    enum: [social, factFind, presentation]
                  description: >
                    Array of sales meeting stages completed during the sales
                    meeting.
                  example: [social, factFind]
                products:
                  type: array
                  items:
                    type: object
                    required: [productName, amount]
                    properties:
                      productName:
                        type: string
                        example: Term Life Insurance
                      amount:
                        type: number
                        example: 50000
                  description: Array of products sold to the prospect.
                salesOutcome:
                  type: string
                  enum: [kiv, successful, unsuccessful]
                  example: successful
                unsuccessfulReason:
                  type: string
                  description: >
                    Required when `salesOutcome` is `unsuccessful`. Describes
                    why the sale was not completed.
                  example: Client budget constraints
                fullName:
                  type: string
                  minLength: 1
                  description: Full name of the prospect. Maps to `prospect_name`.
                  example: Jane Doe
                phoneNum:
                  type: string
                  description: Phone number of the prospect. Maps to `prospect_phone`.
                  example: "+6591234567"
                email:
                  type: string
                  format: email
                  description: Email address of the prospect. Maps to `prospect_email`.
                  example: jane.doe@example.com
      responses:
        "200":
          description: Prospect updated successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ProspectObject"
        "400":
          description: >
            Bad request. Returned when the request body fails validation (e.g.
            no fields provided, invalid enum value, or `unsuccessfulReason` is
            missing when `salesOutcome` is `unsuccessful`).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ValidationErrorResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
              examples:
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: custom
                        message: At least one field must be provided
                        path: []
                missingUnsuccessfulReason:
                  summary: unsuccessfulReason required when salesOutcome is unsuccessful
                  value:
                    message: Validation failed
                    errors:
                      - code: custom
                        message: unsuccessfulReason is required when salesOutcome is unsuccessful
                        path: [unsuccessfulReason]
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "403":
          description: >
            Forbidden. Returned when the authenticated user does not have the
            `agent` or `group_leader` role.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "404":
          description: Not found. Returned when no prospect exists for the given `prospectId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Prospect not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Prospects]
      summary: Delete a prospect
      description: >
        Deletes the prospect identified by prospectId. Requires a valid Bearer token.
        RLS enforces tenant and agent scoping — if the prospect is not visible to the
        caller, a 404 is returned (existence is not leaked via 403).
        Only agents (own prospects) and admins may delete prospects.
      security:
        - bearerAuth: []
      parameters:
        - name: prospectId
          in: path
          required: true
          description: The UUID of the prospect to delete.
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        "200":
          description: Prospect deleted successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "403":
          description: >
            Forbidden. Returned when the authenticated user does not have the
            `agent` or `admin` role.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "404":
          description: >
            Not found. Returned when no prospect exists for the given `prospectId`,
            or the prospect is not visible to the caller due to RLS.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Prospect not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  ##############################################################################
  # EVENTS
  ##############################################################################

  /events:
    post:
      tags: [Events]
      summary: Create an event
      description: >
        Creates a new event scoped to the authenticated user's tenant. The caller
        must supply a valid Bearer token belonging to a user with the `admin`,
        `master_trainer`, `trainer`, or `group_leader` role — `agent` users will
        receive a 403. At least one of `groupIds` or `agentIds` must be provided.
        For `trainer` users, all supplied `groupIds` must belong to groups that
        the trainer manages via the `group_trainers` junction table; any unmanaged
        group IDs result in a 400.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - startDate
                - endDate
                - type
                - description
              additionalProperties: false
              properties:
                title:
                  type: string
                  minLength: 1
                  description: Title of the event.
                  example: Q2 Training Kickoff
                startDate:
                  type: string
                  format: date-time
                  description: >
                    Start datetime as an ISO 8601 timestamp with timezone offset.
                    Cannot be in the past.
                  example: "2026-04-15T09:00:00+08:00"
                endDate:
                  type: string
                  format: date-time
                  description: >
                    End datetime as an ISO 8601 timestamp with timezone offset.
                    Must be after startDate.
                  example: "2026-04-15T11:00:00+08:00"
                status:
                  type: string
                  enum: [upcoming, completed, cancelled]
                  description: >
                    Status of the event. Defaults to `upcoming` when not supplied.
                  example: upcoming
                type:
                  type: string
                  enum: ["Face to Face", "Online"]
                  description: >
                    Delivery format of the event. Must be either `Face to Face`
                    or `Online`.
                  example: "Face to Face"
                link:
                  type: string
                  format: uri
                  description: Optional URL for the event (e.g. a video call link).
                  example: "https://meet.example.com/q2-kickoff"
                venue:
                  type: string
                  description: Optional venue or location for the event.
                  example: Raffles Place Conference Room
                description:
                  type: string
                  minLength: 1
                  description: Description or agenda for the event.
                  example: Quarterly training kickoff covering Q2 targets and new product modules.
                groupIds:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: >
                    Array of group UUIDs the event is associated with. Must
                    contain at least one UUID if provided, and must not contain
                    duplicates. For trainers, all IDs must be groups they manage.
                    At least one of `groupIds` or `agentIds` must be supplied.
                  example:
                    - 7c9e6679-7425-40de-944b-e07fc1f90ae7
                agentIds:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: >
                    Array of agent user UUIDs to assign individually to the
                    event via the `event_agents` junction table. Must contain at
                    least one UUID if provided, and must not contain duplicates.
                    At least one of `groupIds` or `agentIds` must be supplied.
                  example:
                    - a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        "201":
          description: Event created successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/EventObject"
        "400":
          description: >
            Bad request. Returned when the request body fails validation (e.g.
            `title` is missing, `date` is in the past, neither `groupIds` nor
            `agentIds` is provided, a supplied group UUID does not exist, or a
            trainer supplies a group they do not manage).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ValidationErrorResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
              examples:
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: custom
                        message: Date cannot be in the past
                        path: [date]
                missingGroupsOrAgents:
                  summary: Neither groupIds nor agentIds provided
                  value:
                    message: Validation failed
                    errors:
                      - code: custom
                        message: At least one of groupIds or agentIds must be provided
                        path: []
                invalidGroupIds:
                  summary: One or more group IDs do not exist
                  value:
                    message: One or more group IDs are invalid
                trainerUnmanagedGroups:
                  summary: Trainer supplied groups they do not manage
                  value:
                    message: Trainer does not manage one or more of the supplied groups
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "403":
          description: >
            Forbidden. Returned when the authenticated user has the `agent`
            role, which is not permitted to create events.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags: [Events]
      summary: List all events
      description: >
        Returns all events accessible to the authenticated user. The caller must
        supply a valid Bearer token. Supabase RLS handles tenant scoping
        automatically — users will only receive events visible to them.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/{eventId}:
    get:
      tags: [Events]
      summary: Get an event by ID
      description: >
        Returns a single event identified by `eventId`. The caller must supply a
        valid Bearer token. Supabase RLS handles tenant scoping automatically —
        users can only retrieve events visible to them.
      security:
        - bearerAuth: []
      parameters:
        - name: eventId
          in: path
          required: true
          description: UUID of the event to retrieve.
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-bcde-f12345678901
      responses:
        "200":
          description: Event retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/EventObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "404":
          description: Not found. Returned when no event exists for the given `eventId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Event not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      tags: [Events]
      summary: Update an event
      description: >
        Updates the event identified by `eventId`. The caller must supply a valid
        Bearer token belonging to a user with the `admin`, `master_trainer`,
        `trainer`, or `group_leader` role — `agent` users will receive a 403.
        All request body fields are optional, but at least one must be provided.
        When `groupIds` is supplied, the existing `event_groups` entries for this
        event are replaced entirely. When `agentIds` is supplied, the existing
        `event_agents` entries for this event are replaced entirely. For `trainer`
        users, all supplied `groupIds` must belong to groups they manage; any
        unmanaged group IDs result in a 400.
      security:
        - bearerAuth: []
      parameters:
        - name: eventId
          in: path
          required: true
          description: UUID of the event to update.
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-bcde-f12345678901
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                title:
                  type: string
                  minLength: 1
                  description: Updated title of the event.
                  example: Q2 Training Kickoff (Revised)
                startDate:
                  type: string
                  format: date-time
                  description: >
                    Start datetime as an ISO 8601 timestamp with timezone offset.
                  example: "2026-04-20T10:00:00+08:00"
                endDate:
                  type: string
                  format: date-time
                  description: >
                    End datetime as an ISO 8601 timestamp with timezone offset.
                    Must be after startDate.
                  example: "2026-04-20T12:00:00+08:00"
                status:
                  type: string
                  enum: [upcoming, completed, cancelled]
                  description: Updated status of the event.
                  example: completed
                type:
                  type: string
                  enum: ["Face to Face", "Online"]
                  description: Updated delivery format of the event.
                  example: Online
                link:
                  type: string
                  format: uri
                  description: Updated URL for the event.
                  example: "https://meet.example.com/q2-kickoff-revised"
                venue:
                  type: string
                  description: Updated venue or location for the event.
                  example: Marina Bay Conference Centre
                description:
                  type: string
                  minLength: 1
                  description: Updated description or agenda for the event.
                  example: Updated agenda covering revised Q2 targets.
                groupIds:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: >
                    Replacement set of group UUIDs for the event. Existing
                    `event_groups` entries are deleted and replaced with these
                    values. Must not contain duplicates. For trainers, all IDs
                    must be groups they manage.
                  example:
                    - 7c9e6679-7425-40de-944b-e07fc1f90ae7
                agentIds:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: >
                    Replacement set of agent user UUIDs for the event. Existing
                    `event_agents` entries are deleted and replaced with these
                    values. Must not contain duplicates.
                  example:
                    - a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        "200":
          description: Event updated successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/EventObject"
        "400":
          description: >
            Bad request. Returned when the request body fails validation (e.g.
            no fields provided, `startDate` is in the past, `endDate` is not
            after `startDate`, a supplied group UUID does not exist, or a
            trainer supplies a group they do not manage).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ValidationErrorResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
              examples:
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: custom
                        message: At least one field must be provided
                        path: []
                invalidDateRange:
                  summary: endDate is not after startDate
                  value:
                    message: endDate must be after startDate
                invalidGroupIds:
                  summary: One or more group IDs do not exist
                  value:
                    message: One or more group IDs are invalid
                trainerUnmanagedGroups:
                  summary: Trainer supplied groups they do not manage
                  value:
                    message: Trainer does not manage one or more of the supplied groups
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "403":
          description: >
            Forbidden. Returned when the authenticated user has the `agent`
            role, which is not permitted to update events.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "404":
          description: Not found. Returned when no event exists for the given `eventId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Event not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  ##############################################################################
  # DASHBOARD
  ##############################################################################

  /dashboard/stats:
    get:
      tags: [Dashboard]
      summary: Get dashboard statistics
      description: >
        Returns aggregated year-to-date (YTD) and month-to-date (MTD) dashboard
        statistics for the authenticated user's tenant. YTD figures cover the
        period from 1 January of the current year; MTD figures cover the period
        from the 1st of the current month. The caller must supply a valid Bearer
        token. All roles are permitted to call this endpoint.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Dashboard statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/DashboardStatsObject"
        "401":
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  ##############################################################################
  # POINT ACTIVITY TYPES
  ##############################################################################

  /point-activity-types:
    get:
      tags: [Point Configs]
      summary: List all point activity types
      description: >
        Returns all available point activity types from the system. These values
        are used when creating point configurations via `POST /point-configs`.
        Restricted to authenticated users.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Point activity types retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PointActivityTypeObject"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  ##############################################################################
  # POINT CONFIGS
  ##############################################################################

  /point-configs:
    post:
      tags: [Point Configs]
      summary: Create a point config
      description: >
        Creates a new gamification point configuration for the authenticated
        user's tenant. Each activity type may have at most one configuration
        per tenant — attempting to create a duplicate returns HTTP 400.
        Restricted to the `admin` role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - activity
                - points
              properties:
                activity:
                  type: string
                  description: >
                    The activity type to configure points for. Must match a value
                    returned by `GET /point-activity-types`.
                  example: coaching_session_attended
                points:
                  type: integer
                  minimum: 1
                  description: Points awarded for the activity. Must be a positive integer.
                  example: 10
      responses:
        "201":
          description: Point config created successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/PointConfigObject"
        "400":
          description: >
            Bad request. Returned when request body fails validation or a config
            already exists for the given activity within this tenant.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
              examples:
                duplicate:
                  summary: Config already exists for this activity
                  value:
                    message: Config already exists for this activity.
                invalidActivityType:
                  summary: Activity type does not exist
                  value:
                    message: Invalid activity type
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: invalid_type
                        path: [activity]
                        message: Required
        "403":
          description: Forbidden. The authenticated user does not have the `admin` role.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags: [Point Configs]
      summary: List all point configs
      description: >
        Returns all gamification point configurations for the authenticated
        user's tenant. Returns an empty array if no configurations have been
        set up yet. Restricted to the `admin` role.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Point configs retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PointConfigObject"
        "403":
          description: Forbidden. The authenticated user does not have the `admin` role.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Forbidden
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /point-configs/{activity}:
    put:
      tags: [Point Configs]
      summary: Update a point config by activity
      description: >
        Updates the points value for an existing gamification point
        configuration identified by its `activity` path parameter. Returns
        HTTP 404 if no configuration exists for the given activity within the
        tenant. Restricted to the `admin` role.
      security:
        - bearerAuth: []
      parameters:
        - name: activity
          in: path
          required: true
          description: >
            The activity type whose point config should be updated. Must match
            an existing point config's activity for the authenticated tenant.
          schema:
            type: string
            example: coaching_session_attended
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - points
              properties:
                points:
                  type: integer
                  minimum: 1
                  description: New points value for the activity. Must be a positive integer.
                  example: 20
      responses:
        "200":
          description: Point config updated successfully
          content:
            application/json:
[...]
